.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.822266;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:51.744000px;}
.fc2{color:rgb(34,34,34);}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:44.000000px;}
.fs0{font-size:56.000000px;}
.y2b{bottom:102.104004px;}
.y2a{bottom:115.532003px;}
.y29{bottom:129.544983px;}
.y28{bottom:142.972982px;}
.y27{bottom:156.986022px;}
.y0{bottom:157.000000px;}
.y26{bottom:170.413979px;}
.y25{bottom:183.841979px;}
.y24{bottom:210.697998px;}
.y51{bottom:212.020020px;}
.y23{bottom:224.125998px;}
.y50{bottom:225.448019px;}
.y22{bottom:238.138998px;}
.y4f{bottom:239.461020px;}
.y21{bottom:252.151977px;}
.y4e{bottom:253.473999px;}
.y20{bottom:265.580016px;}
.y4d{bottom:266.901999px;}
.y4c{bottom:280.914999px;}
.y1f{bottom:292.435995px;}
.y4b{bottom:294.927999px;}
.y1e{bottom:306.448996px;}
.y2c{bottom:320.000000px;}
.y1d{bottom:320.461996px;}
.y4a{bottom:322.368987px;}
.y1c{bottom:334.475006px;}
.y1b{bottom:347.903006px;}
.y49{bottom:349.224997px;}
.y1a{bottom:361.915993px;}
.y48{bottom:363.238007px;}
.y19{bottom:375.343994px;}
.y47{bottom:376.666006px;}
.y18{bottom:388.771994px;}
.y46{bottom:390.678986px;}
.y17{bottom:402.785003px;}
.y45{bottom:404.106985px;}
.y16{bottom:416.213012px;}
.y44{bottom:418.119995px;}
.y43{bottom:431.547995px;}
.y15{bottom:443.068991px;}
.y42{bottom:445.560995px;}
.y14{bottom:457.082001px;}
.y13{bottom:470.510000px;}
.y41{bottom:473.002013px;}
.y12{bottom:484.523001px;}
.y11{bottom:498.536001px;}
.y40{bottom:499.858002px;}
.y10{bottom:512.549011px;}
.y3f{bottom:513.286001px;}
.yf{bottom:525.977011px;}
.y3e{bottom:527.298996px;}
.ye{bottom:539.990005px;}
.y3d{bottom:540.726995px;}
.yd{bottom:553.418005px;}
.y3c{bottom:554.739996px;}
.yc{bottom:567.430999px;}
.y3b{bottom:568.753005px;}
.yb{bottom:580.858993px;}
.y3a{bottom:595.608994px;}
.ya{bottom:607.714995px;}
.y39{bottom:609.036993px;}
.y38{bottom:623.050003px;}
.y9{bottom:634.570998px;}
.y37{bottom:636.478003px;}
.y8{bottom:647.999007px;}
.y36{bottom:650.490997px;}
.y35{bottom:663.918999px;}
.y7{bottom:674.855003px;}
.y34{bottom:677.346998px;}
.y6{bottom:688.283003px;}
.y33{bottom:691.360001px;}
.y5{bottom:702.295997px;}
.y32{bottom:704.788002px;}
.y4{bottom:715.723998px;}
.y31{bottom:718.216002px;}
.y30{bottom:732.228998px;}
.y3{bottom:742.580001px;}
.y2f{bottom:745.657000px;}
.y2e{bottom:759.084999px;}
.y2{bottom:769.436000px;}
.y1{bottom:783.670000px;}
.y2d{bottom:786.526000px;}
.h4{height:29.906250px;}
.h3{height:32.720703px;}
.h2{height:41.644531px;}
.h5{height:465.500000px;}
.h1{height:611.000000px;}
.h0{height:842.000000px;}
.w2{width:447.000000px;}
.w1{width:463.500000px;}
.w0{width:595.000000px;}
.x0{left:18.000000px;}
.x4{left:72.000000px;}
.x5{left:90.000000px;}
.x6{left:108.000000px;}
.x2{left:210.621994px;}
.x9{left:237.750000px;}
.x1{left:246.449997px;}
.x7{left:281.231995px;}
.x3{left:287.483994px;}
.xa{left:294.186996px;}
.x8{left:300.675003px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:68.992000pt;}
.fs1{font-size:58.666667pt;}
.fs0{font-size:74.666667pt;}
.y2b{bottom:136.138672pt;}
.y2a{bottom:154.042671pt;}
.y29{bottom:172.726644pt;}
.y28{bottom:190.630643pt;}
.y27{bottom:209.314696pt;}
.y0{bottom:209.333333pt;}
.y26{bottom:227.218638pt;}
.y25{bottom:245.122639pt;}
.y24{bottom:280.930664pt;}
.y51{bottom:282.693359pt;}
.y23{bottom:298.834663pt;}
.y50{bottom:300.597359pt;}
.y22{bottom:317.518664pt;}
.y4f{bottom:319.281359pt;}
.y21{bottom:336.202635pt;}
.y4e{bottom:337.965332pt;}
.y20{bottom:354.106688pt;}
.y4d{bottom:355.869331pt;}
.y4c{bottom:374.553332pt;}
.y1f{bottom:389.914660pt;}
.y4b{bottom:393.237333pt;}
.y1e{bottom:408.598661pt;}
.y2c{bottom:426.666667pt;}
.y1d{bottom:427.282661pt;}
.y4a{bottom:429.825316pt;}
.y1c{bottom:445.966675pt;}
.y1b{bottom:463.870674pt;}
.y49{bottom:465.633329pt;}
.y1a{bottom:482.554657pt;}
.y48{bottom:484.317342pt;}
.y19{bottom:500.458659pt;}
.y47{bottom:502.221341pt;}
.y18{bottom:518.362658pt;}
.y46{bottom:520.905314pt;}
.y17{bottom:537.046670pt;}
.y45{bottom:538.809313pt;}
.y16{bottom:554.950682pt;}
.y44{bottom:557.493327pt;}
.y43{bottom:575.397326pt;}
.y15{bottom:590.758654pt;}
.y42{bottom:594.081327pt;}
.y14{bottom:609.442668pt;}
.y13{bottom:627.346667pt;}
.y41{bottom:630.669351pt;}
.y12{bottom:646.030668pt;}
.y11{bottom:664.714668pt;}
.y40{bottom:666.477336pt;}
.y10{bottom:683.398682pt;}
.y3f{bottom:684.381335pt;}
.yf{bottom:701.302681pt;}
.y3e{bottom:703.065328pt;}
.ye{bottom:719.986674pt;}
.y3d{bottom:720.969327pt;}
.yd{bottom:737.890673pt;}
.y3c{bottom:739.653328pt;}
.yc{bottom:756.574665pt;}
.y3b{bottom:758.337340pt;}
.yb{bottom:774.478657pt;}
.y3a{bottom:794.145325pt;}
.ya{bottom:810.286661pt;}
.y39{bottom:812.049324pt;}
.y38{bottom:830.733337pt;}
.y9{bottom:846.094664pt;}
.y37{bottom:848.637337pt;}
.y8{bottom:863.998676pt;}
.y36{bottom:867.321330pt;}
.y35{bottom:885.225332pt;}
.y7{bottom:899.806671pt;}
.y34{bottom:903.129331pt;}
.y6{bottom:917.710670pt;}
.y33{bottom:921.813334pt;}
.y5{bottom:936.394662pt;}
.y32{bottom:939.717336pt;}
.y4{bottom:954.298664pt;}
.y31{bottom:957.621335pt;}
.y30{bottom:976.305331pt;}
.y3{bottom:990.106668pt;}
.y2f{bottom:994.209333pt;}
.y2e{bottom:1012.113332pt;}
.y2{bottom:1025.914666pt;}
.y1{bottom:1044.893333pt;}
.y2d{bottom:1048.701333pt;}
.h4{height:39.875000pt;}
.h3{height:43.627604pt;}
.h2{height:55.526042pt;}
.h5{height:620.666667pt;}
.h1{height:814.666667pt;}
.h0{height:1122.666667pt;}
.w2{width:596.000000pt;}
.w1{width:618.000000pt;}
.w0{width:793.333333pt;}
.x0{left:24.000000pt;}
.x4{left:96.000000pt;}
.x5{left:120.000000pt;}
.x6{left:144.000000pt;}
.x2{left:280.829325pt;}
.x9{left:317.000000pt;}
.x1{left:328.599996pt;}
.x7{left:374.975993pt;}
.x3{left:383.311991pt;}
.xa{left:392.249329pt;}
.x8{left:400.900004pt;}
}
